@import '../../common/common.scss';

.foot-tab{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: beRem(50);
  background: #fff;
  text-align:center;
  z-index:10;
  box-shadow:0 8px 23px #ccc;
  .tab-icon{
    display: inline-block;
    width:beRem(24);
    height: beRem(24);
    background: {
      repeat:no-repeat;
      size: beRem(24);
      position:center;
    };
  }
  .active{
    a{
    color:#009973;
    }
  }
}

.home-icon{
  background-image: url(../../static/images/home_normal.png);
}
.order-icon{
   background-image: url(../../static/images/order_normal.png);
 }
.gps-icon{
  background-image: url(../../static/images/GPS-normal.png);
}
.me-icon{
  background-image: url(../../static/images/me_normal.png);
}
.active{
  .home-icon{
    background-image: url(../../static/images/home_highlight.png);
  }
  .order-icon{
    background-image: url(../../static/images/order_highlight.png);
  }
  .gps-icon{
     background-image: url(../../static/images/GPS_highlight.png);
   }
  .me-icon{
    background-image: url(../../static/images/me_highlight.png);
  }
}



