@import '../../common/common.scss';

.game-block{
  padding-bottom: beRem(20);
  padding-top: beRem(20);
  border-bottom: $border-e1;
  &:last-child{
    border-bottom: none;
  }
  .img-show{
    width:beRem(135);
    height: beRem(90);
    background: {
      repeat: no-repeat;
      size: cover;
    };
    position: relative;
    span{
      display: inline-block;
      height: beRem(20);
      line-height: beRem(20);
      background:linear-gradient(90deg,rgba(254,174,4,1),rgba(255,207,52,1));
      color: $w;
      position: absolute;
      padding: 0 beRem(3);
      &:before{
        position: absolute;
        content: "";
        border:{
          style: solid;
          width: beRem(10) beRem(3);
          color: rgba(255,207,52,1) transparent transparent rgba(255,207,52,1);
        }
        top: 0;
        right: beRem(-6);
      }
      &.finished{
        background:linear-gradient(-90deg,rgba(81,81,81,1),rgba(57,57,57,1));
        &:before{
          border-color: rgba(81,81,81,1) transparent transparent rgba(81,81,81,1);
        }
      }
      &.under-way{
        background:linear-gradient(-96.1deg,rgba(13,196,21,1),rgba(0,178,91,1));
        &:before{
          border-color: rgba(13,196,21,1) transparent transparent rgba(13,196,21,1);
        }
      }
    }
  }
  .game-msg{
    padding: 0 beRem(20) beRem(0) beRem(10);
    .game-name{
      font-size: beRem(17);
      font-weight: bold;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      line-height: beRem(24);
      height: beRem(48)
    }
    .remain-box{
      margin-top: 5px;
      .remain-bar{
        position:relative;
        vertical-align: middle;
        height: 5px;
        width: beRem(90);
        display:inline-block;
        background: #eee;
        b{
          position: absolute;
          height: 100%;
          left:0;
          top:0;
          background: linear-gradient(to right, #FF6C00 0%,#FF2200 100%);
          width: 50%;
        }
      }
    }

  }
}


