@import '../../common/common.scss';
.ball-position{
  .table-head{
    height: beRem(45);
    background: $w;
    text-align: center;
    .time-head{
      width: beRem(80);
      position: relative;
      overflow: hidden;
      border-right: $border-e1;
      &:before{
        position: absolute;
        display: block;
        content: "";
        border-bottom: $border-e1;
        width: beRem(90);
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(30deg);
      }
      span{
        position: absolute;
        &.t-span{
          bottom: beRem(6);
          left: beRem(6);
        }
        &.b-span{
          top: beRem(6);
          right: beRem(6);
        }
      }
    }
    .ball-head{
      span{
        width: beRem(25);
        height: beRem(25);
        border: $border-e1;
        border-radius: 50%;
        line-height: beRem(25);
      }
    }
  }
  .icon-example{
    text-align: center;
    line-height: beRem(40);
    color: $c6;
    padding: 0 beRem(12);
    img{
      width: beRem(15);
      height: beRem(15);
      vertical-align: middle;
      margin-right: beRem(10);
    }
  }
  .table-body{
    line-height: beRem(40);
    text-align: center;
    .time-box{
      width: beRem(80);
    }
    .ball-box{
      input{
        display: none;
      }
      span{
        display: inline-block;
        vertical-align: middle;
        width: beRem(25);
        height: beRem(25);
        background: {
          repeat: no-repeat;
          size: beRem(25);
          image: url(../../static/images/golf_grey.png);
        };
      }
      input[type="checkbox"]:checked + span{
        background-image: url(../../static/images/golf_green.png);
      }
    }
  }
}

