@import "../../common/common.scss";
.course-list{
  .course-block{
    background: $w;
    margin-top: beRem(10);
    .course-name{
      font-size: beRem(21);
      font-weight: bold;
      line-height: beRem(40);
      background: $fa;
      padding: 0 beRem(20);
    }
    .combo-block{
      border-bottom: $border-e1;
      padding: beRem(10) beRem(20);
      font-size: beRem(17);
      &:last-child{
        border-bottom: none;
      }
      .combo-name{
        font-size: beRem(19);
        margin: beRem(5) 0;
      }
      .pre-bar{
        .price-box{
          line-height: beRem(26);
          font-size: beRem(15);
          b{
            font-size: beRem(18);
          }
          .book{
            display: inline-block;
            width: beRem(70);
            height: beRem(35);
            text-align: center;
            background: $btn-green;
            color:$w;
            border-radius: beRem(35);
            line-height: beRem(35);
            font-size: beRem(17);
          }
        }
        img{
          width: beRem(35);
          height: beRem(35);
        }
      }
      .card-bar{
        margin: beRem(10) 0;
      }
      .has-no-card{
        color: $c9;
      }
    }
  }
}